body {
    font-family: sans-serif;
    background: #99CCFF;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em
}

nav {
    background-color: #43bbda;
    text-align: center;
}

nav h1 {
    color: #5d55cc;
    font-size: 5em;
    padding: 0.25em;
}

nav button {
    background-color: #46da84;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.25em;
}

section button {
    background-color: #5d55cc;
    color: white;   
}

section {
    background: #667070;
    margin: 1em;
    padding: 1em;
}

:target {
    background: #30c7c2;
    color: white;
    border: solid;
    border-color: black;
}